<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Export\Product" type="ContextToCall\C2C\Model\Rewrite\CatalogImportExport\Export\Product" />
</config>
